<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body><!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ecommerce Website</title>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <div class="main-navbar shadow-sm sticky-top">
        <div class="top-navbar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 my-auto d-none d-sm-none d-md-block d-lg-block">
                        <h5 class="brand-name"><span class="h3">eCommerce</span><span class="h6">.com</span></h5>
                    </div>
                    <div class="col-md-5 my-auto">
                         <form action="/view_products">
                            <div class="input-group">

                                <input type="search" name="product_name" id="product_name" placeholder="Search Your Product" class="form-control" onchange="this.form.submit()"   value ="{{product_name}}"  />
                                <button class="btn bg-white" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>

                    </div>
                    <div class="col-md-5 my-auto">
                        <ul class="nav justify-content-end">
                              <li class="nav-item">
<!--                                    <select class="form-control" name="category" id="category">-->
<!--                                        <option value="">Categories</option>-->
<!--                                        <option value="Men">Men's</option>-->
<!--                                        <option value="Women">Women's</option>-->
<!--                                        <option value="Kid">Kids</option>-->
<!--                                        <option value="Cosmetics">Cosmetics</option>-->
<!--                                        <option value="Electronics">Electronics</option>-->
<!--                                        <option value="Furniture">Furniture</option>-->
<!--                                    </select>-->
                                </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-user"></i> Admin
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
<!--                                <li><a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a></li>-->

                                <li><a class="dropdown-item" href="/view_cart?type=ordered"><i class="fa fa-list"></i> Orders</a></li>
                                <li><a class="dropdown-item" href="/view_cart?type=history"><i class="fa fa-heart"></i> Order History</a></li>
                                <li><a class="dropdown-item" href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand d-block d-sm-block d-md-none d-lg-none" href="#">
                    Funda Ecom
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin_head">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/view_products">All Products</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/view_cart?type=ordered">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/view_cart?type=processing">Shipped</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/view_cart?type=history">History</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
</html>